*{
    margin: 0;
    padding: 0;
}
html{
    background: url('music.jpg');
    background-size: cover;
}
body{
    height: 100vh;
    widows: 100vw;
    background-color: rgb(0, 0, 0, 0.7);
    
}
.keys{
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}
.key{
    border: 0.4rem solid black;
    border-radius: 0.5rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem 0.5rem;
    width: 10rem;
    text-align: center;
    color: white;
    background: rgba(92, 92, 92, 0.4);
    text-shadow: 0 0 0.5rem white;
    transition: all 0.07s;
}

kbd{
    display: block;
    font-size: 4rem;
}
.sound{
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: #ffc600;
}